build/
build_autotools/
build_cmake/
install/

# autotools
Makefile.in
aclocal.m4
autom4te.cache/
compile
configure
depcomp
install-sh
missing

# after configure
.deps/
Makefile
config.status

helloworld
